asgiref
attrs
certifi
cffi
charset-normalizer
crispy-bootstrap5
dj-database-url
Django
django-crispy-forms
django-email
django-environ
gunicorn
h11
idna
outcome
packaging
pillow
psycopg2
psycopg2-binary
pycparser
PyOpenGL
PySocks
python-dotenv
requests
selenium
sniffio
sortedcontainers
sqlparse
trio
trio-websocket
typing_extensions
tzdata
urllib3
webdriver-manager
websocket-client
wsproto

